body {
    background-image: url("images/elixirbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .navbar {
    text-align: center;
    
  }
  
  .container {
    text-align: center;
  }
  
  header {
    background-color: rgb(200, 112, 112);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .container a:last-child {
    margin-right: 10px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }

  .panel ul {
    display: flex;
    list-style-type: none;
  }
  
  .panel ul li {
    margin-right: 40px;
  }
  
  .panel ul li a {
    font-size: 22px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    border: none;
  }
  
  .panel ul li a:hover {
    font-weight: bold;
  }
  
  .panel {
    padding-bottom: 1px;
    color: blue;
    position: relative;
  }
  
  .panel::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: rgb(106, 32, 32);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
  
  .panel:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
  
  .map {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.form-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
   
}

.form-card h2 {
    margin-bottom: 40px;
}

.form-card form {
    display: flex;
    flex-direction: column;
    
}

.form-card form input,
.form-card form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Noto Serif', serif;
}

.form-card form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
}

.form-card form button:hover {
    background-color: #0056b3;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 50px;
    height: 50px;
}

.social-media img:hover {
  transform: scale(1.2); 
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  padding: 4px;
}